[2017-04-09 13:54] thomnico opened #1 "Make a global value on vdom"
In mutli vdom need to change the url with ?global=1 when global is the target ...

vdom=global can be used as naming a vdom global is forbiden

[2017-04-09 13:55] thomnico opened #2 "json: in firewall policy .."
A better handling of the json: format for policy rules (i.e. not visible from the user) can be done with a couple of cases switches..

[2017-04-09 14:21] thomnico opened #3 "Add the wait for connectivity to the login call and ssh one (in the lib)"

[2017-04-21 12:08] thomnico commented on #1
Solved in fortiosapi

[2017-04-21 12:08] #1 closed

[2017-08-08 10:37] aloksrinet opened #5 "Ansible-Fortigate-Pyfg module/package- ERROR"
[ERROR-Fortigate.pdf](https://github.com/fortinet-solutions-cse/40ansible/files/1207695/ERROR-Fortigate.pdf)
[playbook.pdf](https://github.com/fortinet-solutions-cse/40ansible/files/1207696/playbook.pdf)

[2017-09-01 09:49] thomnico opened #6 "When error code is 403 got a parse error exception"
Better handling of return errors is needed here ..

To reproduce try to perform action on non existing vdom for expl

[2017-09-08 11:50] thomnico commented on #2
Done in the fortiosapi

[2017-09-08 11:50] #2 closed

[2017-11-17 05:57] #6 closed

[2017-11-17 05:57] #5 closed

[2018-03-05 20:10] victorehp17 opened #14 "Custom SSH Port"
Hi,
Great module, i'm really enjoying it!
Would it be possible to add support for custom SSH ports (non 22)?

[2018-05-02 03:48] mr-joom opened #16 "Add support of custom API port"
Hi, All
Could you please add support custom API ports. In many production cases, admin API port is changed, due to not override SSL VPN port.

[2018-05-07 07:00] thomnico commented on #16
You can simply add it at the end of your host:

Something like
host: 192.168.40.40:8443

[2018-05-07 07:00] #16 closed

[2018-06-05 14:10] asilnov opened #18 "fortios_webfilter library without webfilter_profile"
Guys, thank you very much for the libs!
I have not found any info about webfilter_profile feature in fortios_webfilter.
Would you add this feature to master?

[2018-06-08 11:39] mamunozgonzalez commented on #18
Hi @asilnov,
 At the moment webfilter profile is not included. It will come in the future, together with other modules to handle all fortigate features. Fortigate has many tables (even for webfilter feature) and it will take some time to cover all of them.
Thanks for your feedback!

[2018-06-08 11:43] #18 closed

[2018-07-13 08:50] BSG83 opened #20 "ERROR! no action detected in task. This often indicates a misspelled module name, or incorrect module path."
Hi,

When trying to run this playbook:
---
- name: Backup current config
  hosts: all

  tasks:
  - name: backup system config
    fortiosconfig:
     config: "system config backup"
     action: "backup"
     config_parameters:
      filename: "backup_config_001"

The error below is shown:
ERROR! no action detected in task. This often indicates a misspelled module name, or incorrect module path.

[2018-07-30 15:44] chopraaa commented on #20
Check indentation:

[code]

should be:

[code]

[2018-07-31 14:36] mamunozgonzalez commented on #20
Thanks @chopraaa.
@BSG83 please check also if ANSIBLE_LIBRARY variable is defined and pointing to the library folder of this repository.

[2018-09-18 16:36] bruccoo3000 opened #21 "Upload license to multiple fortigates"
Hello,

Wanted to know if it is possible to load multiple licenses to multiple fortigates using the fortigate_upload_license.yml playbook?

Say I have a folder of licenses and wanted to deploy the licenses across multiple VMs.

Any ideas would be great.

Thanks

[2018-09-19 06:51] mamunozgonzalez commented on #21
HI @bruccoo3000 ,
 yes it is possible. You can place a call to fortiosconfig multiple times in the same playbook. This example works:

- hosts: localhost
  tasks:
  - name: Upload license
    fortiosconfig:
     config: "system vmlicense upload"
     action: "upload"
     host:  "192.168.122.40"
     username: "admin"
     password: ""
     vdom:  "global"
     https: False
     config_parameters:

[2018-09-19 06:57] mamunozgonzalez commented on #21
I have added a new working example for this case:

https://github.com/fortinet-solutions-cse/40ansible/blob/master/examples/fortigate_upload_license_multiple_fortigates.yml

Miguel Ángel.

[2018-09-19 09:32] mamunozgonzalez commented on #21
Also, for the sake of code simplicity you can try with 'items', following this example:

https://docs.ansible.com/ansible/2.6/plugins/lookup/items.html

Let us know if you want to implement it like this or more help is needed.

[2018-09-19 14:00] bruccoo3000 commented on #21
Awesome!

I'm spinning up different FortiOS VM versions today (5.4, 5.6 and 6.0, all latest in code train) and will let you know.

[2018-09-19 16:47] mamunozgonzalez commented on #21
Apparently everything is correct. I have also a similar setup with licenses in other dirs and it works fine. From the logs it seems that the ansible process can't find the file, probably due to permissions or a different user running the ansible process.
Who is the user running the ansible-playbook command?
Can you also post the command used to run the playbook?
And just for a quick and simple tes

[2018-09-19 18:48] bruccoo3000 commented on #21
So, here's what I have:
The user is 'ansible'
[ansible@ansible ~]$ whoami
ansible

The user 'ansible' is running the playbook using the following command:
ansible-playbook fortigate_upload_license1.yml > fortilicense.out

Changed the permissions as suggested and no change.

[2018-09-20 08:31] #20 closed

[2018-09-20 08:41] mamunozgonzalez commented on #21
Please run an additional test: put your license file in the same dir where your ansible module is. And run your playbook from that same directory.
Can you post here your operating system and version? (cat /etc/*release*)
Also if you run some software like AppArmor/SELinux or similar thing?
If that does not work, would you be available for a call with remote assistance?

[2018-09-20 08:46] mamunozgonzalez commented on #18
Hi @asilnov ,
 I have uploaded a new module to handle webfilter profiles. Still in beta testing but it can be used already to do some stuff. It will be proposed to Ansible repo shortly thus it may suffer some modifications.

https://github.com/fortinet-solutions-cse/40ansible/blob/master/library/fortios_webfilter_profile.py

[2018-09-20 14:50] bruccoo3000 commented on #21
OK, good news!

Moved the licenses to the folder of my playbook worked!  All devices are now licensed.  But I would still like to use a path (absolute or relative) in order to have better management of the licenses.

Does this mean that the "filename" key can't use a path?  Is there another option to use instead?  I tried replacing "filename" with "dest" but that didn't seem to work either.

Here'

[2018-09-20 14:56] bruccoo3000 commented on #21
Also, this means that this works on the tested versions of 5.4, 5.6 and 6.0 FortiVMs.  Now, I would definitely like to work on the list function as that may be a more elegant method.

[2018-09-20 14:57] mamunozgonzalez commented on #21
Cool!! Yes, please disable SElinux and try again. Please use an absolute path.
That ansible module can access files in other paths. I have tested recently this path /home/magonzalez/license.lic and had no issues.

[2018-09-20 19:06] bruccoo3000 commented on #21
Nice!  Ok, updated the system, updated my pathing and disabled SElinux.
Working!

Thanks for the help on this, do you think this would be the best method to deploy licenses for 1000 VMs or would a list method be better?  Picking your brain on this as someone who knows what they're doing :)

[2018-09-21 08:01] mamunozgonzalez commented on #21
Great to read that!!!
Regarding provisioning 1000 VMs, using 'items' only would probably give similar results in terms of speed (but code is more elegant and simplified).

Can you try with asynchronous tasks? With this Ansible feature you will execute the tasks and will not wait for each one to be fully finished. I guess we should gain some speed. This feature is compatible with 'items' so you can

[2018-09-21 08:06] thomnico commented on #21
Hello bruccoo3000,

If you have more than 1000 VM I strongly encourage you to reach your Fortinet rep and check the benefit or Fortimanager (which can also be managed with Ansible) and the metering pay as you grow licensing model.

Of course, you are free to redo all that with our Ansible modules. Licensing is done very infrequently so the speed should not be an issue.

[2018-09-21 12:30] bruccoo3000 commented on #21
Hey all,

Thanks again for the help and ideas as how to proceed.

Our fortinet rep was able to somewhat help with part of our process but the fortimanager is a no go for this environment.

I like the async idea as there are more functions I need to add but the licensing was a huge sticking point.

[2018-09-21 12:30] #21 closed

[2018-10-03 12:56] tchession opened #22 "msg: error in repo on playbook run"
Hello,

I am receiving the following error when running a playbook to create a VIP on an FG-VM-64.

[code]

The playbook is as follows:

[code]
I have confirmed that the firewall is reachable from my Ansible machine, and that the credentials are correct. My pip list is below.

[code]

Thank you very much for your assistance.

[2018-11-08 10:51] JonTheNiceGuy opened #23 "Please separate the library from the examples"
Hi,

Would it be possible for you to separate the library into a git sub-module, so I can just consume the submodule in my roles and playbooks, without needing the examples?

Here's an example of where I've done the same thing in another project:

https://github.com/e-and-cs/k5-skeleton-infrastructure has a submodule for the library to https://github.com/mohclips/k5-ansible-modules/tree/5cf49d5ad9

[2018-11-08 16:37] JonTheNiceGuy opened #24 "fortiosconfig does not set the "no_log" flag"
During an ansible play which references the fortiosconfig module in Ansible 2.7, I get a message indicating that the "no_log" option has not been set on a password field.

Could it be worth looking at using the native fortios modules in core Ansible to reduce your requirement to specify things like this: (e.g. https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/network/fortios/f

[2018-11-16 09:46] mamunozgonzalez commented on #24
Hi,
 thanks for you comment, actually it is a good point and we have already implemented the 'no_log' option in the new modules that are being submitted to Ansible. You can see them in:

https://github.com/fortinet-solutions-cse/ansible_fgt_modules

I'll also submit a change to fortiosconfig to include "no_log":True for passwords.

Regarding module_utils/fortios.py, we are not using it due to we h

[2018-11-16 09:53] mamunozgonzalez commented on #24
I have added no_log option: https://github.com/fortinet-solutions-cse/40ansible/blob/master/library/fortiosconfig.py#L790

[2018-11-16 09:53] #24 closed

[2018-11-21 11:54] mamunozgonzalez commented on #22
Hi,
 sorry for the late reply. I think the problem is in the mappedip attribute. According to the schema it is a table and not a string:

[code]
I have created this example for your case. It has been tested in v6.0.2:
[code]
Hope that helps.

[2018-11-21 11:54] #22 closed

[2018-12-13 09:25] ghost opened #25 "No JSON object could be decoded"
[code]

Error:

[code]

[2018-12-13 10:29] #25 closed, assigned to nobody

[2018-12-13 13:45] dragan979 opened #26 "Login failed when trying to configure web filtering"
I need to explicitly enable HTTP on fortigate interface in order to avoid "Connection timed out" error

[code]

Errors:

The full traceback is:
Traceback (most recent call last):
  File "/root/.ansible/tmp/ansible-tmp-1544708418.34-194837611454630/AnsiballZ_fortios_webfilter.py", line 113, in <module>
    _ansiballz_main()
  File "/root/.ansible/tmp/ansible-tmp-1544708418.34-194837611454630/Ansiba

[2018-12-13 19:54] mamunozgonzalez commented on #26
Hi @dragan979,
 I just tested your example on a brand new fortigate vm 6.0.2 and it works perfectly. The only thing that I changed was the variables. I used exactly this playbook and it worked fine:

[code]
Can you use this file as it is (puting credentials on it)? Please ensure the credentials are ok. I don't see any other problem in your traceback than the one related to a bad login. Please note

[2018-12-14 07:59] dragan979 commented on #26
Same issue, i'm running this against AWS EC2 Fortigate appliance, credentials are correct, never mind, if it works for you probably some issue with AWS image. Thanks

[2018-12-14 07:59] #26 closed

[2018-12-17 10:22] JonTheNiceGuy opened #27 "Unable to issue "system vmlicense upload" on Azure"
I have built a `FortiGate NGFW - Single VM` on Azure using the marketplace and selecting the "BYOL 6.0.3" model. Following the build, I SSH in, and issue:
[code]

I then execute the following playbook:
[code]

I get this as output:
[code]
The verbose output from the failure step is as follows:
[code]

Does this mean that because the license isn't valid at the time we try to make the API call, we'r

[2018-12-20 10:03] JonTheNiceGuy commented on #27
And it continues! 😁

I re-wrote the module to do an SSH connection to perform the license upload on the Azure image:

[code]

This didn't work, so I replaced the `commands:` block with this:

[code]

Also didn't work. Using the expect module works however (it's not very clean, the expect module keeps issuing the same statements over and over agin - but it gets there!)...
[code]

[2018-12-20 11:35] thomnico commented on #27
Can you share the result of :
 get system interface

on your fortigate please ?

[2018-12-20 11:45] JonTheNiceGuy commented on #27
[code]

[2018-12-31 04:32] haodeon opened #28 "Login failed"
Hi,

I am having the exact same issue as #26. So please forgive me that I am not pasting in the output I am getting as it is the same.

My steps to reproduce:

1. Spin up a new PAYG VM on Azure and expose SSH/HTTP/HTTPS ports to outside on public IP.

2. Login to HTTPS interface and set admin-https-redirect to disable and enable port1 for http management traffic.

3. Use playbook in mamunozgonzale

[2019-01-01 03:39] DamaniN opened #29 "Delete calls fail with vdom error"
When trying to delete an existing object I get an error saying:

File \"/Users/damani/.pyenv/versions/3.6.5/lib/python3.6/site-packages/fortiosapi/fortiosapi.py\", line 329, in schema\n    url = self.cmdb_url(path, name) + \"?action=schema\"\nTypeError: cmdb_url() missing 1 required positional argument: 'vdom'\n"

I'm running FortiOS v6.0.3

Code:

- hosts: localhost
 # strategy: debug
  vars:

[2019-01-01 23:08] DamaniN commented on #29
Put actions also fail in a similar manner. Set actions do seem to work.

[2019-01-02 23:07] haodeon commented on #28
So I've discovered my problem is with passwords.

I was using a password that started with "=". I changed the password to something else and everything started working.

I then tried a different password starting with "=" and it still failed to login.

I then checked one more time with a different password and it worked.

So I guess there is a bug in fortiosapi.py or in the fortigate rest api.

On

[2019-01-02 23:07] #28 closed

[2019-01-09 19:56] toy4two opened #30 "Permission denied: '/var/tmp/ansible-fortiosconfig.log"
Is it possible to specify what directory is used for the log, the system's /var/tmp wouldn't be allowed from my venv.

I tried setting no_log: true but that did not help.

[2019-01-09 20:05] toy4two commented on #30
I see it in the module and will update:

hdlr = logging.FileHandler('/var/tmp/ansible-fortiosconfig.log')

[2019-01-09 21:19] #30 closed

[2019-01-10 10:09] mamunozgonzalez commented on #27
Hi @JonTheNiceGuy ,
 I see in your first playbook that you are trying to upload a license to a FGT and that you are setting "https: true".

If the FGT does not have a license I guess it will not let you use HTTPS. So probably you have to set this to 'https: False'. Please also use uppercase False (or True) just to ensure they are fully compliant with Python.

Also please upgrade your local fortios

[2019-01-10 10:35] mamunozgonzalez commented on #29
Hi  @DamaniN,
 thanks for your post. Indeed there is a fault in our internal library that causes this problem. I'll provide a fix shortly for this. I'll let you know once it is done.

[2019-01-14 13:18] JonTheNiceGuy commented on #27
I'm right in the middle of some other stuff, but I'll get back to this shortly. Just to clarify though, even though the BYOL FortiGate models in Azure have no license attached, they do run HTTPS. That said, I suspect the API might not appreciate receiving anything before the license is attached... Like I said, I'll check this shortly.

[2019-02-05 11:52] tohillm opened #31 "fortiosconfig - using "log.memory setting"?"
Working with @JonTheNiceGuy on Fortigate Playbooks:

I have built a FortiGate NGFW - Single VM on Azure using the marketplace and selecting the "BYOL 6.0.3" model.

I then execute the following playbook:
`
# RESTful API to Azure
- hosts: localhost
  gather_facts: true

# Global Vars declaration
  vars:

      host1: "<removed>:8443"
      username: "<removed>"
      password: "<removed>"
      vdo

[2019-02-05 11:54] tohillm commented on #31
Apologies for the poor formatting of this issue creation. I am a newbie at this. Mark

[2019-02-05 13:11] thomnico commented on #31
Hello,
According to your error msg the host running your ansible can not connect to your fortigate.

You must be able to run https calls on your fortigate from the host you run Ansible. That mean inside same Vnet and Foritgate corresponding interface set for admin access on https://

[2019-02-05 13:44] tohillm commented on #31
Nicholas,
You were correct.
Apologies for this.

Mark

[2019-02-05 20:21] #31 closed

[2019-03-10 18:44] ciscler opened #34 "Backup_path for config backup"
Hi all,

is there a way to define the path where ansible is storing the Fortigate Configuration files?

best Regards,

[2019-03-11 07:27] mamunozgonzalez commented on #34
Hi @ciscler,
You can use the filename attribute as shown below to specify a full path. https://github.com/fortinet-solutions-cse/40ansible/blob/f12b834e4a873828ed5c2812cd234c9477d31270/examples/fortigate_backup_config.yml#L18

[2019-03-19 16:43] coquinpa opened #35 "Encoding error while backup"
Hello,
Good job about this helpful module.
Nevertheless, I get the error below while a backup task. (Fortigate 3000D in v6.0.2).
"UnicodeEncodeError: 'ascii' codec can't encode character u'\xe9' in position 690830: ordinal not in range(128)".
I can see the "Config system file has been downloaded by xxxx" event on the FGT. So the problem seems occuring during the file transfert or its writing.
Than

[2019-03-19 16:47] #34 closed

[2019-03-19 16:48] #27 closed

[2019-03-20 21:32] caibitim opened #36 "error message when using the ssh action"
I'm trying to run some command through ssh, and It looks like I get the correct result. However, when I turn on the debug from ansible it says:

err": "<paramiko.ChannelFile from <paramiko.Channel 0 (closed) -> <paramiko.Transport at 0xb89cd860 (unconnected)>>>

is this err is expeteced since it's just the paramiko saying the connection is closed or it's a bug?

[2019-03-21 15:01] Shasties opened #37 "Request for mkey usage in examples"
I am using the following tasks to configure snmp communities on a virtual fortigate appliance:
[code]
I have manually created two entries in the snmp community table. On the appliance side of things I can see the following:
[code]
And from the Ansible debug statement I see:

[code]

I would ideally like to edit one of the entries and based on fortios api reference doc I read, I figured that specif

[2019-03-22 12:15] mamunozgonzalez commented on #36
I can confirm this is a bug but It is originated in FortiOSAPI (https://github.com/fortinet-solutions-cse/fortiosapi) . I'll create a PR to fix it in that repository and post the link here to follow up.

[2019-03-22 12:23] mamunozgonzalez commented on #36
PR created: https://github.com/fortinet-solutions-cse/fortiosapi/pull/40

[2019-03-22 12:23] #36 closed

[2019-03-22 21:02] caibitim opened #38 "limited choice for monitor API"
Hi,

I'm trying to use this module in ansible to do the network automation for our fortigate. I found there is monitor action chocies, and I read the source code for monitor action. it looks like it will just use fortiosAPI to do a monitor API call.

When I use the following playbook

- name: fortios license information
  fortiosconfig:
    action: "monitor"
    host: "{{ inventory_hostname }}"

[2019-03-23 08:45] thomnico commented on #38
Hello,

Thanks for the detailed check and report. We did this pre-check in Ansible to allow a comprehensible error message instead of a long stack trace. For the cmdb part we can generate it, monitor part is manual.

We want to support monitor calls as you can check in fortiosapi library. The fastest fix is to send us a pull request or log bugs with the missing/used monitoring calls you need.

Hop

[2019-03-23 09:18] thomnico commented on #38
Can you check/comment  on PR: https://github.com/fortinet-solutions-cse/40ansible/tree/monitorcalls which should solve your issue and show how to avoid this pb

[2019-03-23 09:40] mamunozgonzalez commented on #38
Hi @caibitim ,
As you guessed, the monitor is partially supported. We have some developments ongoing to support both POST and GET calls for it. Our intention was to add it gradually, and of course taking into account users demands.

 I think it is better if you propose/tells us the monitor calls that you need. Either with a list of those you need or with a PR containing the modifications in AVAILA

[2019-03-25 15:26] coquinpa commented on #35
Hello,
I have found the error cause.
There are utf-8 characters in some security objects.
So I fixed by importing "codecs" python module and using codecs.open function in backup function as below:
file = codecs.open(data['config_parameters']['filename'], 'w', 'utf-8')
My post is only for information and it is up to you to use it.
In my case, I will tell to my security officer to not use special ch

[2019-03-25 15:27] coquinpa commented on #35
Hello,
I have found the error cause.
There are utf-8 characters in some security objects.
So I fixed by importing "codecs" python module and using codecs.open function in backup function as below:
file = codecs.open(data['config_parameters']['filename'], 'w', 'utf-8')
My post is only for information and it is up to you to use it.
In my case, I will tell to my security officer to not use special ch

[2019-03-25 15:56] mamunozgonzalez commented on #35
Hi @coquinpa
thanks for your comments and sorry for the late reply. We haven't had much time to look into it during these days. Glad to read that you found the issue.
We will be more than happy to take it into account, actually feel free to create a PR if you want to.
Otherwise I'll incoporte the changes you propose in the next days.
If you don't mind I'll leave this open until I incorporate the f

[2019-03-25 16:12] mamunozgonzalez commented on #37
Hi @Shasties ,
 thanks for your comment and sorry for the late reply. The mkey is normally used internally in some methods, to guess the master key of the table being updated without requiring user intervention. Thus, you shouldn't worry about it.

I see anyway that it is still present as input parameter in 'choice_map' and this seems to be a leftover from old modifications. I'll create a PR in th

[2019-03-30 14:02] caibitim commented on #38
Sorry for the late reply. I'm using "license/status select" to get the license info from the fortigate. However, there are tons of monitor functions that you can use, and it will still grow as the time goes by. I don't thin it's a good idea to limit the configs there to avoid the long stack trace since you will always run into the python debug when you are doing the ansible. I can essily do a PR f

[2019-04-01 07:22] mamunozgonzalez commented on #38
No worries. Eventually we will include all the monitor functions in the module. The reason to ask for your preferences is to give priority to those needed more urgently by customers/users (we add them gradually as we test them).

Regarding a good parser for fortigate api, Can you elaborate it a bit more? not sure what you need exactly. Normally I parse the fortigate cmdb by fetching the whole sche

[2019-04-01 14:01] caibitim commented on #38
I'm trying to see if there a lib to help me parse the config file of fortigate firewall to be a python dict or json file or something like that so I don't have to write a lot of regular expression for searching the string

[2019-04-01 14:19] thomnico commented on #38
The monitor API calls are described in the Fortinet API spec document in https://fndn.fortinet.com

Going to check if we can keep the requirements to have a comprehensible error message when trying a non-existing name/path combination in all cases..

[2019-04-01 14:50] mamunozgonzalez commented on #38
While for CMDB you can infer the call info easily from the config, for Monitor it is not that easy. The only way is to get it from the documentation.

Please be aware that for full monitor support (e.g. POST), fortiosconfig module needs to be updated. I have the code ready to be merged (due to a previous request for generating CSRs) but it is waiting for a bug to be fixed in fortios REST API. I'll

[2019-04-01 16:12] barbosm commented on #38
@caibitim I understand that you want something to parse FortiOS config file (not the API response) so maybe something like [TextFSM](https://github.com/google/textfsm) + some [templates](https://github.com/networktocode/ntc-templates) to facilitate the parsing.

The bad news is that we don't currently have any TextFSM templates (at least no on the networktocode repo) but the good news is that they

[2019-04-02 10:27] JonTheNiceGuy opened #40 "Is it possible to perform a rename action?"
I've reviewed the code of fortiosconfig.py and the ansible_fgt_modules and I can't find an example of a rename action.

From the CLI you can do

[code]

Is it possible to so something like this with the API?

[2019-04-02 10:39] mamunozgonzalez commented on #40
Hi @JonTheNiceGuy
 At the moment this action is not supported in our Ansible modules. Fortiosconfig can be a good candidate for that operation in the future.

With API it is possible. Using a PUT call on the object as shown below will work:
/api/v2/cmdb/firewall/address/hosta?vdom=root

And then in the body data include this:
{"name": "hostb"}

It will rename hosta to hostb.
Please check also docs

[2019-04-02 11:08] JonTheNiceGuy commented on #40
Desired play:

[code]

[2019-04-02 13:37] thomnico commented on #40
Hello @JonTheNiceGuy,

The logic and reason I implemented a set in fortiosapi module is to allow to declare in a playbook: set name: hostb .. irrelevant of what the initial step was.

Couldn't this approach work for you ? If not can you describe the use case ?

We try to keep things simple ..

[2019-04-03 11:00] JonTheNiceGuy commented on #40
Hi @thomnico the usecase is where we've created a host, (e.g. my_awesome_website) that we add to a rule (e.g. any -> my_awesome_website : http/https allow) and then someone notices that we need several hosts for that. We then create a group (my_awesome_website) which has members (webhost1, webhost2, webhost3). Except, we can't create the group, because there's already a host.

My workflow will be:

[2019-04-05 02:23] caibitim commented on #38
@barbosm thanks. I think I will either go with textfsm or parse it by myself.

[2019-05-14 13:28] mamunozgonzalez commented on #37
Since this has no more activity and the issue is solved I'm closing it.

[2019-05-14 13:28] #37 closed

[2019-05-14 13:33] mamunozgonzalez commented on #14
The new HTTPAPI plugin that is already developed for FortiOS already supports custom ports as it uses Ansible inventory. Localhost connection will be deprecated soon according to Ansible roadmap.

HTTPAPI will be submitted for review shortly in the next days and hopefully will be released soon.

[2019-05-14 13:33] #14 closed

[2019-05-14 13:35] mamunozgonzalez commented on #3
The new HTTPAPI plugin that is already developed for FortiOS handles all the connectivity issues, including timeouts and other variables, as it uses Ansible inventory. Localhost connection will be deprecated soon according to Ansible roadmap.

HTTPAPI will be submitted for review shortly in the next days and hopefully will be released soon.

[2019-05-14 13:35] #3 closed

[2019-05-29 15:06] mamunozgonzalez commented on #38
Hi,
 a basic support for some initial monitor api calls have been included in fortiosconfig (https://github.com/fortinet-solutions-cse/40ansible/pull/42).
 We'll add more endpoints gradually as needed by users. Please note that most api calls are one-shot operations that make very difficult or almost impossible to keep idempotency, so please handle with care.
I'll be closing this one but feel free

[2019-05-29 15:06] #38 closed

[2019-05-30 13:07] mamunozgonzalez commented on #14
Anyway, if you want to use a different port with the current localhost connection just add it after the host ip, using a colon:

[code]

[2019-06-04 16:14] jerrytoh123 opened #43 ""Unsupported parameters for (fortios_config) module:"
Hey man! thanks for the great work to compile the ansible module for Fortigate FW!

I tried to run fortigate_mix.yml and met with the following errors:
"msg": "Unsupported parameters for (fortios_config) module: action,config,config_parameters,https Supported parameters include: backup,backup_filename,backup_path,config_file,file_mode,filter,host,password,src,timeout,username,vdom"
}
Please advise

[2019-06-04 16:17] mamunozgonzalez commented on #43
Hi @jerrytoh123,
 sure, it's a pleasure. I haven't looked into details but it looks like you are using forios_config  and not fortiosconfig (the module stored in library/ in this repo). fortigate_mix.yml is intended to run with fortiosconfig (and not fortios_config which is an old module).

Just do: declare -x ANSIBLE_LIBRARY=(library dir of this repo) and re-run fortigate_mix.yml as it is in this

[2019-06-06 07:07] jerrytoh123 commented on #43
Hey man sorry to trouble you again, I declare the ansible_library but i was met with "MODULE FAILURE" errors when i tried running fortigate_mix.yml, following is the -vvv report:
Using module file /usr/lib/python2.7/site-packages/ansible/modules/system/setup.py
<127.0.0.1> ESTABLISH LOCAL CONNECTION FOR USER: jerry
<127.0.0.1> EXEC /bin/sh -c 'echo ~ && sleep 0'
<127.0.0.1> EXEC /bin/sh -c '( umas

[2019-06-06 07:19] jerrytoh123 commented on #43
I suspect that my Ansible is pointing to the wrong python module, which python version should we be using for this module?

[2019-06-07 11:57] mamunozgonzalez commented on #43
Hi @jerrytoh123
well, in this case the error you are getting is because of old libraries in Python2. As you know Python2 will be "End of Maintenance" next December and no Python2 script will be maintained any more. Could you run Ansible with Python3?

It is very simple with pip3:
[code]
This will leave ansible binaries in ~/.local/bin and will ensure you run Python3 with Ansible, which is the reco

[2019-06-12 16:47] mamunozgonzalez commented on #43
I'm closing this ticket. If you still have the issue feel free to open it again.
Thanks.

[2019-06-12 16:47] #43 closed

[2019-10-09 09:17] nbonnand opened #44 "advanced auth parameters ?"
Hello,

Thanks for fortiosconfig module !

I am using fortigate_ssh.yml and I wonder if it is possible with fortiosconfig:
- to authenticate with ssh key instead of password ?
- to specify a ssh port number( for example 12345)  when it is not running on standard port 22 ?

Regards

Nicolas

[2019-10-09 15:13] mamunozgonzalez commented on #44
Hi @nbonnand
Thanks for your question. The SSH functionality under Ansible will be deprecated soon since it is not a good practice and was built just for some particular use cases that we couldn't cover some time ago. You can still use it, though.
Our recommendation is to use the official Ansible modules. Now in Ansible 2.9 you have a full set of modules to configure everything in FGT. You can che

[2019-10-09 15:13] #44 closed

[2019-10-22 09:43] thomnico commented on #44
Just a comment for clarity:
 using ssh key and port is indeed supported by Fortigate.

We will accept well tested pull request on 40ansible for this but won't develop or recommend to use ssh in an Ansible context.

[2019-10-23 06:20] michael-heller opened #45 "backup config per vdom"
hi there

so I'm trying to backup the fortigate configuration per vdom according your example here:
[fortios backup](https://github.com/fortinet-solutions-cse/40ansible/blob/master/examples/fortigate_backup_config.yml)

however, the configuration backed up is always the full configuration of the firewall and not the one of the corresponding vdom.
On the other hand if I set the vdom parameter to so

[2019-10-23 11:01] mamunozgonzalez commented on #45
Hi @michael-heller
At the moment the fortiosconfig backup feature only supports global backups to file (and not usb) as you can see in: https://github.com/fortinet-solutions-cse/40ansible/blob/e2a663dbd535671600e56d64ddc0c465b88991e4/library/fortiosconfig.py#L778

[2019-10-23 12:39] michael-heller commented on #45
Thanks for the quick reply.
I have not seen this when I reviewed the current code.

Is it planned to introduce this feature?
otherwise I would remove the vdom parameter from the example.

[2019-11-04 22:13] kanom54 opened #47 "How to change SSH conection port."
Hello,

I have ssh customized ports for my Fortigates, im wondering if i could change that. On the playbooks examples doesnt specify.

Thanks you.
FS

[2019-11-07 09:25] migumun commented on #45
@frankshen01 thanks a lot for the quick solution submitted.
Since the PR is already merged, I'm closing this issue.

[2019-11-07 09:25] #45 closed

[2019-11-07 09:42] migumun commented on #47
Hi @kanom54 ,
 Do you want to change the ssh port configured in your FGT?
If so, can you check if https://github.com/ansible/ansible/blob/98b6b98287436535f0dfc99ffe3333e5a196b9a3/lib/ansible/modules/network/fortios/fortios_system_global.py#L168 solves your issue?
This module is already available in Ansible 2.9 and it was created and supported by Fortinet. The link points to the admin_ssh_port attr

[2019-11-09 19:19] #47 closed, assigned to migumun

[2019-11-18 16:15] JuankMonroy commented on #20
Hi, I have the same problem. hugo-costa what was the solution?

[2019-11-19 10:37] migumun commented on #20
Hi @JuankMonroy ,
 can you ensure that indentation in the playbook is correct and also that ANSIBLE_LIBRARY is defined and points to your modules directory? (export ANSIBLE_LIBRARY=/home/myuser/........)

This error normally means that Ansible is not even capable of locating the module call in the playbook or that the module itself is not available in the locations that Ansible looks by default.

[2019-11-19 20:14] JuankMonroy commented on #20
Thank you. In fact, the solution was to add the module "fortioosconfig.py" to the following path /root/.ansible/plugins/modules.

[2019-11-19 20:33] JuankMonroy commented on #20
Miguel, estoy intentando ejecutar la siguiente playbook:
---
- hosts: Fw_Prueba
  connection: local
  become: true
  vars:
          host: 172.24.1.160:4434
          ssl_verify: False
  tasks:
            - name: Probar modulo Fw
              fortiosconfig:
                      config: "firewall policy"
                      action: "set"
                      host: "{{ host }}"

[2019-11-20 10:12] migumun commented on #20
Can you try one of the examples available in this repo? e.g. https://github.com/fortinet-solutions-cse/40ansible/blob/master/examples/fortigate_create_firewall_policy.yml

Your playbook does not have any firewall policy parameters, thus it cannot create or modify any policy.

[2019-11-20 18:06] JuankMonroy commented on #20
A continuación comparto información contenida en la playbook de acuerdo al ejemplo recomendado:
---
- hosts: Fw_Prueba
  connection: local
  vars:
   host: "172.24.1.160:4434"
   username: "user1"
   password: "passuser1"
   vdom: "root"
  tasks:
  - name: create firewall policy
    fortiosconfig:
     config: "firewall policy"
     action: "set"
     host: "{{ host }}"
     username: "{{ username

[2019-11-21 10:00] migumun commented on #20
I see you are using python2. Python2 is deprecated already and is end of maintenance next December. I suggest you run and use Python3 in all cases.

Aside from that, can you try these versions of fortiosapi to run your example?
- latest
- 0.10.8

[2019-11-21 18:40] JuankMonroy commented on #20
Realice la actualización a Python 3, sin embargo el error persiste.
No se si el problema está en la url del firewalls el cual esta publicado con https://172.24.1.160:4434/login

Agradezco me puedas compartir el link desde el cual pueda descargar la última versión de fortiosapi.

[2019-11-22 09:27] migumun commented on #20
Hi @JuankMonroy,
My recommendation is to get it from pip:

pip3 install fortiosapi (this is to get the latest)
pip3 install fortiosapi==0.10.8 (this is to get an specific version)

(please let's switch to english so others can benefit from our discussion ;))

[2019-11-22 09:28] migumun commented on #20
Oh, and in case you want to have a look to the original repo where source code is kept, it's here:

https://github.com/fortinet-solutions-cse/fortiosapi

[2019-11-27 11:35] cbachert opened #48 "Forward slash '/' cannot be used in object names"
The character forward slash '/' cannot be used in object names, for example:
[code]

When using the literal '/' this is regarded as an URL separator which makes the API PUT request fail with HTTP 400. See also httpsd debug log and packet capture:
[slash-literal.txt](https://github.com/fortinet-solutions-cse/40ansible/files/3896619/slash-literal.txt)
[slash-literal.zip](https://github.com/fortinet-

[2019-12-13 00:05] erishiamu opened #49 ""Unsupported parameters for (fortios_config) module: #43"
Duplicate of:
"Unsupported parameters for (fortios_config) module: #43

using example playbook https://github.com/fortinet-solutions-cse/40ansible/blob/master/examples/fortigate_backup_config.yml, receive this error.

Ansible 2.9.1. I ran declare -x ANSIBLE_LIBRARY=/etc/ansible/library (all files from the 40ansible/library folder were copied into it).

I'm also not entirely clear where this backup

[2019-12-16 15:56] dgeisau opened #50 "module fortios_router_prefix_list module does not work"
The module fortios_router_prefix_list does not actually add or modify router prefixes to FortiGate.
The underlying API call requires the parameter 'plugin : 1' for the changes to be accepted.

This is also reported in the Developer Network https://fndn.fortinet.net/index.php?/forums/topic/1995-fortios-rest-api-config-router-prefix-list-issuebug/

[2019-12-20 02:05] frankshen01 commented on #50
@dgeisau  Thank you! The feature is under development and will be updated to Ansible repo soon.

[2019-12-20 03:04] frankshen01 commented on #49
Hi @erishiamu

Here are the successfully steps on my side:

[code]
Please set vdom in vars to an existing VDOM in your FortiGate. The backup file is saved in the same directory as your yml file, and the filename is set by "filename" in config_parameters.

Thanks

[2019-12-20 06:19] frankshen01 commented on #48
Hi @cbachert We reproduced the bug you submitted and will discuss the solution with the fortiapi developers. Thank you!

[2019-12-22 10:33] mrjjoshi commented on #29
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: requests.exceptions.ConnectTimeout: HTTPConnectionPool(host='192.168.122.118', port=80): Max retries exceeded with url: /logincheck (Caused by ConnectTimeoutError(<urllib3.connection.HTTPConnection object at 0x7fb9810e5710>, 'Connection to 192.168.122.118 timed out. (connect timeout=12)'))
fatal: [loca

[2019-12-22 10:33] mrjjoshi commented on #29
what is the issue

[2019-12-26 03:24] chillancezen commented on #48
This looks like a duplication of issue: https://github.com/fortinet-solutions-cse/ansible_fgt_modules/issues/14

I made a fix from ansible side with which you don't have to encode your name yourself, ansible will do it for you. https://github.com/ansible/ansible/pull/66050

from the log slash-encoded.txt, `test-10.0.0.1%2F32` is resolved back to `test-10.0.0.1/32` correctly. @cbachert can you help

[2019-12-26 03:29] chillancezen commented on #48
I realized this project call fortiosapi library, there is no url encoding for mkey in fortiosapi now, the fix in last comment is httpapi only.

the fix is not for this.

[2020-01-03 22:07] erishiamu commented on #49
Hello,

I will try this. Thanks for clarifying.

A note on VDOM: we are not leveraging this feature. set vdom-admin disable is in the config. Is this required to be enabled to use the module?

[2020-01-03 22:23] erishiamu commented on #49
This is the current playbook. I am not defining vdom (and we're not using it, I want a global backup as specified in scope?).

![image](https://user-images.githubusercontent.com/57871858/71752322-d9307080-2e3b-11ea-85fa-5651387a3f45.png)

User and pass are specified in the hostfile.

![image](https://user-images.githubusercontent.com/57871858/71752612-f154bf80-2e3c-11ea-9d2c-3fe1b10556cb.png)

I'm

[2020-01-07 12:46] frankshen01 commented on #49
@erishiamu  I cannot reproduce the problem you mentioned, your configuration works fine on my side . Can you try a configuration similar to the following?

```# cat zhost```

[code]

```# cat ztest.yml```

[code]
```# ansible-playbook  ztest.yml -i zhost```

[code]

```# cat zbackup_fortigate01|more```
[code]

```# ansible --version```
[code]

 ``` #fortigate version```
[code]

[2020-01-07 18:42] erishiamu commented on #49
I will replicate this now and attempt.

Question: I'm actually going to need to specify an https port to use for this, is that possible? I'll test with https: False, but we're using 443 for SSLVPN and I assume we cannot have both that and the web interface/api on the same port?

[2020-01-07 19:46] erishiamu commented on #49
Alright. Not sure what the difference there is but I received different behavior copy pasting in your examples.

It does error out, but is timing out trying to access /logincheck. I am not able to do this through a web browser, but beyond the link on the repo to https://fndn.fortinet.net, I can't seem to find any documentation for the API or configuration. I attempted to create an api user on the

[2020-01-08 18:26] erishiamu commented on #49
I reached out to Fortinet TAC and was advised that we would need to create an API admin user and utilize a key. Can I clarify how this is meant to interact with this module which is using a username/password combination to authenticate against the API?

[2020-01-14 14:34] pdomineaux opened #51 "NotLogged error"
Hello, I'm having trouble to make this module working.
I've tried the fortigate_ssh.yml and it works like a charm.
But if I try another playbook it fails with this error.

ansible-playbook -vvv fortigate_backup_config.yml -i hosts
ansible-playbook 2.9.1
  config file = /Users/user.name/Documents/Work/Network/ansible/ansible.cfg
  configured module search path = ['/Users/user.name/Documents/Work/Ne

[2020-01-14 15:34] pdomineaux commented on #51
My bad !!
Https must be set to True in the playbook.
It works now.

[2020-01-14 15:34] #51 closed, assigned to nobody

[2020-01-28 19:26] JieX19 commented on #48
Hi @cbachert, we've fixed the issue and you will be able to use "/" in the object names shortly. Thanks for your question!

[2020-02-07 09:07] #48 closed, assigned to nobody

[2020-03-27 17:39] l0renzor commented on #50
There an ETA for this resolution?
It does not make sense to use the route-map module if then I cannot associate prefix-list or ACL to it using the same tool.

Thanks
L

[2020-03-27 18:03] angystardust commented on #50
@l0renzor I might be wrong but I think that the development of the fortios modules has been moved here:
https://github.com/fortinet-ansible-dev/ansible-galaxy-fortios-collection

[2020-04-09 15:45] rdzielicki opened #53 "SSL issue running fortios_firewall_adress"
ISSUE TYPE

Hello,

Using Ansible via Tower, we are not able to create an object on Fortigate 240D firewall using fortios_firewall_adress module.
Playbook ends each time with same error (see below).

COMPONENT NAME
Ansible: 2.9.6
Python 3.6
FortiosAPI: 1.0.1
Ansible module : fortios_firewall_adress
Fortigate firewall is 240D running on 6.0.6
ANSIBLE VERSION

Ansible version is  2.9.6

OS / ENVIRON

[2020-04-09 16:14] tlrichiec commented on #53
Hi rdzielicki

Try adding 'ssl_verify: "no"' as per the following:

[code]

[WARNING]: provided hosts list is empty, only localhost is available. Note that the implicit localhost does not match
'all'

PLAY [localhost] *******************************************************************************************************

TASK [Gathering Facts] ******************************************************

[2020-04-10 00:36] chillancezen commented on #53
hi @rdzielicki,

you are using legacy mode.
you can using httpapi to run your playbook..
[code]

[code]

thanks,
Link

[2020-04-14 05:31] greenspartan commented on #53
Hi @tlrichiec ,

I am working with rdzieliecki; I've modified our playbook as advised adding ssl_verify: "no" param (I tried also with "False", but unfortunately I got same error :

[code]

[2020-04-14 05:35] greenspartan commented on #53
Hi @chillancezen,

I've tried using httpapi connection method (instead of local) but it didn't work.
It requests for fortiosapi module :
[code]

Morevoer, it's specified in Ansible documentation related to that module that connection local should be used.
[Ansible Documention fortios_firewall_adress module](https://docs.ansible.com/ansible/latest/modules/fortios_firewall_address_module.html)

Best

[2020-04-14 13:13] rdzielicki commented on #53
Hello,

We found the problem, it's because we didnt provided any trusted host on the Firewall, so nothing related to Ansible or FOrti module, thanks for your help.

[2020-04-14 13:13] #53 closed, assigned to nobody

[2020-04-14 13:27] chillancezen commented on #53
hi, you in order to use HTTPAPI, you have to unset `username` and `password`.

[code]

here is an example:
[code]

[code]

then
[code]

[2020-04-14 13:28] thomnico commented on #53
Hello all,

You are mixing the modules present in Ansible code with this one 40Ansible. They are different !

Please reach out on https://fndn.fortinet.com (must be a FTNT customer)

[2020-04-21 00:20] JieX19 commented on #50
Hi @dgeisau,

We've fixed the issues in the module of fortios_router_prefix_list.

Playbook:

<img width="217" alt="prefix_playbook" src="https://user-images.githubusercontent.com/59745792/79811415-a0ed6900-832a-11ea-81dc-64765adff9e3.PNG">

Results after running the playbook:

<img width="268" alt="prefix_list_result" src="https://user-images.githubusercontent.com/59745792/79811454-c0849180-832a-

[2020-04-27 11:07] droryonayov opened #54 "error when restore from file ""error\":\"config_invalid_file\",\n \"config_restored\":false\""
Hi
I need help with this playbook

- hosts: localhost
  gather_facts: "false"
  connection: local
  vars:
  tasks:
  - name: system config restore
    fortiosconfig:
      config: "system config restore"
      action: "restore"
      host:  "{{ host_master_config }}"
      username: "{{ username }}"
      password: "{{ password }}"
      vdom:  "{{ vdom }}"
      https: True
      ssl_verify: Fals